@import "../base/_vars";

.business__wrap {
  width: 1280px;
  margin: 0 auto;
}

.business__title {
  font-size: 36px;
  font-weight: 400;
  text-align: center;
  padding-bottom: 40px;
  text-transform: uppercase;
  margin: 0;
}

.business__map {
  width: 100%;
  height: 420px;
  padding-bottom: 40px;
}

div.business__container {
  padding-bottom: 80px;
  max-width: 1280px;
  padding-right: 0;
  padding-left: 0;
}

.business__col {
  padding-right: 0;
}

.business__text, .business__phone {
  padding-bottom: 35px;
}

.business__text {
  font-size: 18px;
  font-weight: 400;
}

@media only screen and (min-device-width: 768px) and (max-width: 1199px) {
  .business__wrap {
    width: 100%;
  }
  div.business__container {
    width: 100%;
    padding: 20px;
  }
  .business__map {
    padding: 10px;
  }
  .business__col {
    padding-right: 15px;
  }
  .business__text {
    text-align: center;
  }
  .info__phone {
    justify-content: center;
  }
}

@media only screen and (max-width: 767px) {
  .business__wrap {
    width: 100%;
  }
  div.business__container {
    width: 100%;
    padding: 20px;
  }
  .business__map {
    padding: 10px;
  }
  .business__col {
    padding-right: 15px;
  }
  .business__text {
    text-align: center;
  }
  .info__phone {
    justify-content: center;
  }
}