@import "../base/_vars";

.salon__wrap {
  width: 1110px;
  margin: 0 auto;
  padding-bottom: 80px;
}

.salon__btn {
  display: inline-block;
}

.salon__title {
  font-size: 36px;
  font-weight: 400;
  text-align: center;
  padding-bottom: 45px;
  text-transform: uppercase;
  margin: 0;
}

.salon__text {
  padding-bottom: 45px;
  font-size: 16px;
  font-weight: 400;
  //line-height: 20px;
  text-align: left;
  & p {
    margin-bottom: 16px;
  }
  & p:last-child {
    margin-bottom: 0;
  }
}

.salon__button {
  text-align: center;
}

@media only screen and (min-device-width: 768px) and (max-width: 1199px) {
  .salon__wrap {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media only screen and (max-width: 767px) {
  .salon__wrap {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}